<div class="container-fluid m-0 p-0 bg-dark h-auto">
    <nav class="nav super-wide navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="/assets/navbar-logo.png" width="98" height="58" class="d-inline-block align-top mx-3 my-auto m-md-0" alt="" loading="lazy">
            <span class="navbar-brand pl-2 m-0 d-none d-md-block">Healthy Rythm</span>            
        </a>
        <button class="navbar-toggler ml-auto mr-2 my-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mr-0 pr-0">
                <a class="nav-item nav-link px-4" id="page1" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link p-4 active" id="page2" href="/blogs:">Blogs</a>
                <a class="nav-item nav-link px-4" id="page4" href="/services">Services</a>                    
                <a class="nav-item nav-link px-4" id="page4" href="/about-us">About Us</a>                    
                <a class="nav-item nav-link px-4" id="page5" href="/contact-us">Contact</a>
            </div>
        </div>          
    </nav>
    <img src="/assets/login-imagebar.png" alt="blogs-imagebar" class="img-fluid m-0 p-0 w-100">
</div>




    <div class="container-fluid wide my-4 px-2 px-md-1">
        <small class="font-secondary">
            <span class="blog-breadcrumb-primary p-0 m-0"><a href="/blogs:" class="text-decoration-none text-dark">BLOGS</a> &nbsp;>&nbsp;&nbsp;</span><span class="blog-breadcrumb-secondary p-0 m-0"><%= Blog.blog_title %></span>
        </small>
    </div>
    <div class="container-fluid wide row m-0 mb-5 p-0">
        <div class="col-12 col-md-9 m-0 px-0 px-md-1">
            <h3 class="font-primary blog-blogHeader px-3 px-md-1"><%= Blog.blog_title %></h3>
            <h6 class="font-secondary blog-blogTags px-3 px-md-1"><%= Blog.blog_primaryTag %>&nbsp;|&nbsp;<%= Blog.blog_secondaryTag %></h6>
            <br>
            <img src="/assets/blog-assets/<%= Blog.blog_imageName %>" alt="blog_image" class="img-fluid blog-blogImage p-sm-0 pr-md-3">
            <div class="container-fluid font-secondary blog-blogBody my-4 px-3 pl-md-1 pr-md-4 text-dark">
                <%- Blog.blog_body %>
            </div>




            <div class="container-fluid pl-md-4 pr-md-5 pt-5 font-secondary navBtnContainer">
                <% if (!prevBlog) { %>
                    <a class="blog-BtnDisabled" aria-disabled="true">PREVIOUS</a>
                <% } else { %>
                    <a href="/blog/<%= prevBlog.blog_link %>" class="shadow-none btn px-3 float-left d-inline-block text-dark blog-prevBtn">PREVIOUS</a>                    
                <% } %>
                <% if (!nextBlog) { %>
                    <a class="blog-BtnDisabled">NEXT</a>
                <% } else { %>
                    <a href="/blog/<%= nextBlog.blog_link %>" class="shadow-none btn px-3 float-right d-inline-block text-dark blog-prevBtn">NEXT</a>                    
                <% } %>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-5 m-md-0 p-0">
            <div class="card w-100 bg-white m-0 border-0 services-aboutCard">
                <img src="/assets/services-about-rightsidebar.jpg" class="card-img-top" alt="Dietition Regina Pinheiro">
                <div class="card-body">
                  <p class="card-text font-secondary text-center">I am <span class="services-about-font-bold">Regina Pinheiro</span>, and I am happy that you are here! I’m a Clinical Dietician & Wellness Consultant on a mission to get you the best of the Nutrition world.</p>
                </div>
                <div class="card-footer bg-white border-0">
                    <a href="/about-us" class="text-decoration-none text-dark">KNOW MORE ABOUT ME</a>
                </div>
            </div>
            <br>
            <div class="card w-100 bg-ivory m-0 border-0 blog-featuredCard font-primary">
                <h4 class="blog-featuredCard-header my-4">Featured Blogs</h4>
                <div class="mx-auto mb-3 pointerOnHover blog-featuredBlogCard" onclick="window.location.href='/blog/nutrition-week';">
                    <img src="/assets/blog-assets/348415b4ae05a0a81ee044798141106a" alt="" class="img-fluid blog-featuredBlogImage">
                    <h5 class="blog-featuredBlogTitle">nutrition week</h5>
                </div>
                <div class="mx-auto mb-2 pointerOnHover blog-featuredBlogCard" onclick="window.location.href='/blog/superfoods';">
                    <img src="/assets/blog-assets/e95a0b9e3de28c1634061dfc036088e8" alt="" class="img-fluid  blog-featuredBlogImage">
                    <h5 class="blog-featuredBlogTitle">superfoods</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row mt-4 mx-0 p-0">
        <img src="/assets/work-with-me-regina.jpg" alt="Regina Pinheiro" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks d-none d-md-block" onclick="window.location.href='/about-us';">
        <img src="/assets/blog-imageLink-nutritionalCouncelling.jpg" alt="Nutritional Counselling" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks" onclick="window.location.href='/services#Nutritional-councelling';">
        <img src="/assets/blog-assets/348415b4ae05a0a81ee044798141106a" alt="Nutrition week" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks d-none d-md-block" onclick="window.location.href='/blog/nutrition-week';">
        <img src="/assets/blog-imageLink-customDiets.jpg" alt="Diets" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks d-none d-md-block" onclick="window.location.href='/work-with-us#recipe-development';"">
        <img src="/assets/blog-assets/e95a0b9e3de28c1634061dfc036088e8" alt="superfoods" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks d-none d-md-block" onclick="window.location.href='/blog/superfoods';">
        <img src="/assets/blog-imageLink-contentWriting.jpg" alt="content writing" class="img-fluid col-12 col-md-2 m-0 p-0 blog-bottomImageLinks" onclick="window.location.href='/work-with-us#content-writing';">
    </div>

    